extends base

block content
  p List flows Here
  table(
    border='1'
    id='flowsTable'
  )
    each val in items
      tr
        td
          a(href= "/ui/flows/" + val.key)
            text= val.name
