extends base

block scripts
  script(src='/scripts/repo.js')

block content
    li
      p Show metadata
    li
      a(href= "/repo/jobs/meta/" + svcKey ) Edit metadata
    li
      p Show processes
    li
      a(href= "/repo/jobs/designer/" + svcKey ) Edit job
    li
      a(href= "/evaluation/dashboard/repo/" + svcKey ) Evaluate the job in the engine
    li
      p Publish this job to the archives
    li
      p Deploy the job to the engine
