extends base

block scripts
  script(src='/scripts/repo.js')

block content
  p List service Here
  table(
    border='1'
    id='jobsTable'
  )
    each val in items
      tr
        td
          a(href= "/ui/repo/jobs/" + val.key)
            text= val.name
