extends base

block scripts
  script(src='/scripts/repo.js')

block content
  p List service Here
  p For every job, show a link
  table(
    border='1'
    id='jobsTable'
  )
    each val in items
      tr
        td
          a(href= "/repo/jobs/summary/" + val.key)
            text= val.name
