extends base

block scripts
  script(src='/scripts/repo.js')

block content
  ul
    li
      p Show metadata
    li
      a(href= "/repo/models/" + modelKey + "/meta") Edit metadata
    li
      a(href= "/repo/models/" + modelKey + "/designer")  Edit model data
    li
      p Check history build
