extends base

block scripts
  script(src='/scripts/repo.js')

block content
    li
      p Show metadata
    li
      a(href= "/repo/svcs/meta/" + svcKey ) Edit metadata
    li
      p Show processers
    li
      a(href= "/repo/svcs/designer/" + svcKey ) Edit processers
    li
      a(href= "/evaluation/dashboard/repo/" + svcKey ) Evaluate the svc in the engine
    li
      p Publish this svc to the archives
    li
      p Deploy the svc to the engine
