extends layout

block view
  .container
    a(href="/evaluation/processer/repo/1/new") ISSUE 6: Evaluate a Naive Bayes Classifier
    a(href="/evaluation/processer/repo/1/1") ISSUE 6: Check the Evaluation result of a Naive Bayes Classifier
