extends layout

block body
  include header.jade
  .jumbotron
    .container
      ol(class="breadcrumb")
        li
          a(href="/ui/") Home
        block breadcrumb
    .container
      .row
        .col-md-3
          block sidebar
        block content
