extends layout

block view
  .container
    ol(class="breadcrumb")
      li
        a(href="#") Home
      block breadcrumb
  .container
    .row
      .col-md-3
        block sidebar
      block content
