header
  ul(class='mainNav')
    li
      a(href="/") DataMiningCloud
    li
      a(href="/ui/models") Models
    li
      a(href="/ui/jobs") Jobs
    li
      a(href="/ui/flows") Flows
    li
      a(href="/ui/services") Services
