extends dmcloud_base

mixin dashboard(id, des)
  div(class="col-md-4 total")
    div.count
      h5= des
      span(
        id=id
        ) 0

block body
  .container
    section(class="number text-center")
      .row
        .h1 Algorithms, Models, Services
        .h4 Choose an algorithm, customize it's model, publish the service for you.
      .row
        +dashboard('algorithm', 'Algorithms built:')
        +dashboard('model', 'Models customized:')
        +dashboard('service', 'Services published:')
