doctype html
html
  head
    title= "DataMiningCloud - " + title
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    script(src='/scripts/jquery-2.1.4.js')
    script(src='/scripts/jquery-ui.js')
    script(src='/scripts/dmcloud_ui.js')
    block scripts
  body
    include header.jade
    block view
    include footer.jade
