doctype html
html
  head
    title= "DataMiningCloud - " + title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery-ui.css')
    script(src='scripts/jquery-2.1.4.js')
    script(src='scripts/jquery-ui.js')
    block scripts
  body
    include header.jade
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    include footer.jade
