extends layout

block view
  .container
    .panel-heading
      .panel-title Login
    .panel-body
      ul(class='list-group')
        a(class='list-group-item' href="/auth/google") Google
        a(class='list-group-item' href="/auth/weibo") Weibo
