extends nonAuth/layout

block scripts
  link(rel='stylesheet', href='/login/stylesheets/signin.css')

block body
  .container
    .row
      h2(class="text-center") Sign in Data Cleansing Hub with:
    .row
      .col-md-4
      .col-md-4
        ul(class='list-group')
          a(class='list-group-item' href="/auth/google")
            img(alt="Google" src="/images/google.png")
          a(class="list-group-item" href="/auth/github")
            img(alt="GitHub" src="/images/github.png" style="height:48px;")
      .col-md-4
