extends repo_base

block scripts
  script(src='/scripts/repo.js')

block content
    li
      p Show metadata
    li
      a(href= "/repo/svcs/" + svcKey + "/meta") Edit metadata
    li
      p Show processers
    li
      a(href= "/repo/svcs/" + svcKey + "/designer") Edit processers
    li
      a(href= "/evaluation/dashboard/" + svcKey ) Evaluate the svc in the engine
    li
      p Publish this svc to the archives
    li
      p Deploy the svc to the engine
