extends repo_base

block scripts
  script(src='/scripts/repo.js')

block content
  p Add processer
  p Delete processer
  p Change the order of the processer
  p Edit processer's model, from archive, repo, import from file, ReST data.
