extends base

block content
  a(href='/evaluation/processer/repo/1/2') A mock link of Processer Evaluation
  p Show Processer Evaluation summary.
  a(href='/evaluation/trainer/repo/1/2') A mock link of Processer Evaluation
  p Show Trainer Evaluation summary.
