.widget
  ul
    li
      a(href='/evaluation/dashboard/' + catalog + '/' + svcKey) Evaluation
.widget
  h1 Create New Evaluation
  ul
    li
      a(href='/evaluation/processer/' + catalog + '/' + svcKey) As Processer
    li
      a(href='/evaluation/trainer/' + catalog + '/' + svcKey) As Model Trainer
