extends base

block scripts
  script(src='/scripts/evaProcesserEditor.js')
  script(type='javascript')

block content
  .searcher
    text Select Evaluation dataset:
      input(
        type="file"
        id="file"
        value=""
      )
    br
    text Select the expected attribute, this is not a require field.
    br
    br
    br
    button(id="launchBtn")
    br
    button(id="loadBtn")
