extends base

block scripts
  script(src='/scripts/evaProcesserEditor.js')
  script(type='javascript')

block content
  button(id="launchBtn")
  br
  br
  br
  .dataChooser
    text Select Evaluation dataset:
    br
    input(
      type="file"
      id="file"
      value=""
    )
    button(id="loadBtn")
    br
    //text Select the expected attribute, this is not a require field.
    br
    #dataPreview
