extends base

block content
  #evaData
    p Select Evaluation dataset, input the data by uploading the data.
  #expectAttribute
    p Select the expected attribute, this is not a require field.

  #buttons
    p Launch the evalution button
