extends base

block content
  #evaData
    p Show Evaluation dataset.
  #modelAlg
    p Show model algorithm details.
  #comparsion
    p Show the Cross-Validation result.
  #runDetails
    p Show the Evaluation running data.
