div(class="panel panel-default")
  .panel-heading
    .panel-title Service Actions
  .panel-body
    ul(class='list-group')
        a(class='list-group-item' href= "/ui/service/new") Create Service
