extends serviceDetailsBase

block service_detail
  table(class="table table-hover")
    tr
      td
        p Name:
      td
        p= service.id
    tr
      td
        p Job URI:
      td
        a(href= service.jobURI )= service.jobURI
