extends serviceDetailsBase
block scripts
  link(rel='stylesheet', href='/stylesheets/dataEditor.css')
  script(src='/scripts/apiTester.js')
  script(src='//cdn.bootcss.com/ace/1.2.3/ace.js')

block service_detail
  .row
    .col-md-5
      h5 Input:
      #dataEditor
    .col-md-1
      div(
        id="uploadBtn"
        style="margin-top: 150px;"
        data-targetUrl= api_url
        class="btn btn-default") Test
    .col-md-5
      h5 Output:
      #dataResponse
