.number .svg
{
    position: absolute;
    z-index: 0;
    top: -12px;
    right: 0;
    bottom: 0;
    left: -11px;
    border: 0 none;
}
.number .line
{
    position: absolute;
    z-index: 3;
    top: -12px;
    right: 0;
    bottom: 0;
    left: -11px;

    border: 0 none;
}
.number path
{
    fill: none;
    stroke: #BBBBBB;
    stroke-width: 2px;
}
.number .count
{
    font-size: 26px;
}
.number .count h6
{
    margin-top: 12px;
    margin-bottom: 2px;
}
