#editor {
  position: absolute;
  top: 120px;
  right: 15px;
  bottom: 50px;
  left: 270px;
}
#submitBtn{
  position: absolute;
  height: 20px;
  width: 100px;
  top: 85px;
  left: 270px
}
#delConfirmField{
  position: absolute;
  top: 135px;
  right: 0;
}
#delBtn {
  position: absolute;
  top: 135px;
  right: 180px;
}
