extends base

block scripts
  script(src='/scripts/repo.js')

block content
  p List job archives here
  table(
    border='1'
    id='jobArchivesTable'
  )
    each val in items
      tr
        td
          a(href= "/ui/archives/job/" + val.key)
            text= "Archive: " + val.name
