extends base

block scripts
  link(rel='stylesheet', href='/stylesheets/editor.css')
  script(src='/scripts/ace/ace.js')
  script(src='/scripts/editorCommon.js')
  script(src='/scripts/jobJsonEditor.js')

block content
    #submitBtn
    #delBtn
    input(
      id='delConfirmField'
      onfocus="if (this.value=='Input current ID to delete') this.value = ''"
      type="text"
      value= "Input current ID to delete"
      )
    #editor
      = JSON.stringify(data)
