extends base

block scripts
  link(rel='stylesheet', href='/stylesheets/editor.css')
  script(src='/scripts/ace/ace.js')
  script(src='/scripts/editorCommon.js')
  script(src='/scripts/jobJsonEditor.js')

block content
  #submitBtn
  #editor
    = JSON.stringify(data)

  p *name
  p description
  p tags
  p *type(Trainer or Common Processer, RadioButton)
  p catalog(text input, will be a selector?)
  p domain(text input, will be a selector?)
  p input (Attributes editor)
  p output (Attributes editor)
