extends base

block content
  #evaData
    p Show Evaluation dataset.
  #resultData
    p Show the result dataset.
  #comparsion
    p Show the comparsion result.
  #runDetails
    p Show the Evaluation running data.
