extends base

block content
  p List services Here
  table(
    border='1'
    id='servicesTable'
  )
    each val in items
      tr
        td
          a(href= "/ui/services/" + val.key)
            text= val.name
