extends base

block content
  .row
    h3.text-center= "Search result for: " + search_key
    table(
      class="table table-hover"
      id='servicesTable'
    )
      each val in result
        tr
          td
            a(href= "/ui/services/" + val._id)
              text= val.metadata.name
