.container
  nav(class="navbar navbar-inverse navbar-fixed-top")
    container-fluid
      .navbar-header
        button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        .navbar-brand
          a(href="/") Data Cleansing Hub
      #navbar(class="navbar-collapse collapse")
        ul(class="nav navbar-nav")

        ul(class="nav navbar-nav navbar-right")
          li
            a(href="/login") Sign In
