extends base

block scripts
  script(src='/scripts/repo.js')

block content
  p List models Here
  table(
    border='1'
    id='modelsTable'
  )
    each val in items
      tr
        td
          a(href= "/ui/models/" + val.key)
            text= val.name
