extends modelTagDetailsBase

block tag_detail
  table(class="table table-hover")
    tr
      td
        p Name:
      td
        p= tag.id
    tr
      td
        p Data URI:
      td
        a(href= tag.dataURI || "No data yet" )= tag.dataURI
  br
  a(
    class='list-group-item'
    href= URI_REPO + repoId + URI_MODELS + "/" + model.id + URI_TAGS + "/" + tag.id + "/uploader")
      .text-center Upload Data
