extends actionsBase

block mainContent
  ul(class="nav nav-tabs")
    li(
      role="presentation"
      class= pageId == "MODEL_META" ? "active" : "")
      a(href= URI_REPO + repoId + URI_MODELS + "/" + model.id) Details
    li(
      role="presentation"
      class= pageId == "MODEL_TAG" ? "active" : "")
      a(href= URI_REPO + repoId + URI_MODELS + "/" + model.id + "/tags") Tags
  block model_detail
