extends base

block scripts
  link(rel='stylesheet', href='/stylesheets/editor.css')
  script(src='//cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js')
  script(src='/scripts/editorCommon.js')
  script(src='/scripts/modelMetaJsonEditor.js')

block content
  .col-md-7
    #submitBtn
    #editor= content
