extends base

block content
  .col-md-9
    if models.length == 0
      h5.text-center No data yet
    else
      table(
        class="table table-hover"
        id='modelsTable'
      )
        each val in models
          tr
            td
              a(href= URI_REPO + val.repository + URI_MODELS + "/" + val.id)
                text= val.id
