extends base

block scripts
  script(src='/scripts/repo.js')

block content
  table(class="table table-hover")
    tr
      td
        p Name:
      td
        p= model.metadata.name
    tr
      td
        p Domain:
      td
        p= model.metadata.domain
    tr
      td
        p Locale:
      td
        p= model.metadata.locale

  ul
    li
      a(href= "/ui/models/" + model._id + "/meta") Edit metadata
    li
      a(href= "/ui/models/" + model._id + "/editor")  Edit model data
    li
      a(href= "/ui/models/" + model._id + "/archives")  Archives
