extends base

block scripts
  link(rel='stylesheet', href='/stylesheets/editor.css')
  script(src='/scripts/ace/ace.js')
  script(src='/scripts/editorCommon.js')
  script(src='/scripts/modelMetaJsonEditor.js')

block content
  #submitBtn
  #editor
  ul
    li
      p name
    li
      p description
    li
      p type
    li
      p catalog
    li
      p domain
