extends base

block scripts
  link(rel='stylesheet', href='/stylesheets/editor.css')
  script(src='/scripts/ace/ace.js')
  script(src='/scripts/editorCommon.js')
  script(src='/scripts/modelMetaJsonEditor.js')

block content
  #submitBtn
  #editor
