extends modelDetail

block model_detail
  table(
    class="table table-hover"
    id='modelArchivesTable'
  )
    each val in items
      tr
        td
          a(href= "/ui/archives/model/" + val.key)
            text= "Archive: " + val.name
