extends base

block scripts
  script(src='/scripts/repo.js')

block content
  p List model archives here
  table(
    border='1'
    id='modelArchivesTable'
  )
    each val in items
      tr
        td
          a(href= "/ui/archives/model/" + val.key)
            text= "Archive: " + val.name
