div(class="panel panel-default")
  .panel-heading
    .panel-title Model Actions
  .panel-body
    ul(class='list-group')
        a(class='list-group-item' href= URI_REPO + repoId + URI_NEW_MODEL) Create Model
