extends base

block content
  .col-md-7
    table(
      class="table table-hover"
      id='algorithmsTable'
    )
      each val in algorithms
        tr
          td
            a(href= "/ui/algorithms/" + val._id)
              text= val.metadata.name
